In [130]:
import numpy as np
import pandas as pd

In [131]:
song_df = pd.read_csv("Artist_music.csv", encoding="ISO-8859-1")
song_df.head(3)

,artist,song,link,text
0,Wishbone Ash,Right Or Wrong,/w/wishbone+ash/right+or+wrong_20147150.html,Like to have you 'round \r\nWith all the lies...
1,Aerosmith,This Little Light Of Mine,/a/aerosmith/this+little+light+of+mine_2064448...,"This Little Light of Mine (Light of Mine), \r..."
2,Fall Out Boy,"Dance, Dance",/f/fall+out+boy/dance+dance_10113666.html,She says she's no good with words but I'm wors...

In [132]:
song_df.shape

(28825, 4)

In [133]:
song_df = song_df.sample(2000).drop(["link", "text"], axis = 1).reset_index(drop = True)

In [134]:
song_df.isnull().sum()

artist    0
song      0
dtype: int64

In [135]:
song_df.shape

(2000, 2)

In [136]:
song_df["song"] = song_df["song"].str.lower()
song_df["song"] = song_df["song"].replace(r"^\w\s", " ")
song_df["song"] = song_df["song"].replace(r"\n", " ", regex = True)

In [137]:
song_df.head(3)

         artist                  song
0   Erik Santos  this song is for you
1     Kate Bush      the king is dead
2  Uncle Tupelo            new madrid

In [138]:
import nltk
nltk.download("punkt")
nltk.download("punkt_tab")
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package punkt to C:\Users\ANKIT
[nltk_data]     THAKUR\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to C:\Users\ANKIT
[nltk_data]     THAKUR\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [139]:
ps = PorterStemmer()

In [140]:
def token(txt):
    token = nltk.word_tokenize(txt)
    wt = [ps.stem(w) for w in token]
    return " ".join(wt)

In [141]:
song_df["song"].apply(lambda x: token(x))

0                            thi song is for you
1                               the king is dead
2                                     new madrid
3                                 addict to spud
4                     desperado wait for a train
                          ...
1995                    anytim you need a friend
1996    i do n't care ( if tomorrow never come )
1997                           annabella 's song
1998                              auld lang syne
1999                           and i love you so
Name: song, Length: 2000, dtype: object

In [142]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [143]:
cv = CountVectorizer(analyzer = "word", stop_words = "english")
matrix = cv.fit_transform(song_df["song"])

In [144]:
cs_similar = cosine_similarity(matrix)

In [145]:
def recommender(artist_name):
    artist_songs = song_df[song_df["artist"] == artist_name]
    if artist_songs.empty:
        return f"No songs found"
    recommendations = artist_songs["song"].head(5).tolist()
    return recommendations

In [146]:
recommender("Taylor Swift")

['eyes open', 'storty of us', 'story of us', 'sweeter than fiction']

In [147]:
import pickle
pickle.dump(cs_similar, open("Song_Recommedation.pkl", "wb"))

In [148]:
dataset_sample = song_df[['artist', 'song']]
dataset_sample.to_csv("dataset_sample.csv", index=False, encoding="ISO-8859-1")